{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registation form</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
  <div class="form-box">
    <h1>Registation Forms</h1>
    <form method="post">
      {% csrf_token %}
      <label>Username</label>
      <input type="text" name="name"><br><br>
      <label>Email</label>
      <input type="email" name="email"><br><br>
      <label>Phone</label>
      <input type="text" name="phone"><br><br>
      <label>Gender :</label><br>
      <div class="box">
        <input type="radio" name="gender" value="male">Male
        <input type="radio" name="gender" value="female">Female
        <input type="radio" name="gender" value="other">other
      </div><br><br>
      <label>Message</label>
      <textarea name="message" style=" height: 45px;"></textarea><br><br>
      <label>Country</label>
      <select name="country" required>
        <!-- required jo hei ye required HTML attribute ka matlab hai ki user ko us field ka value dena hi hoga, bina fill kiye form submit hi nahi hoga.-->
        <option value="">--Select Country--</option>
        <option value="India">India</option>
        <option value="Japan">Japan</option>
        <option value="China">China</option>
        <option value="South Africa">South Africa</option>
        <option value="Korea">Korea</option>
      </select>
      <br><br>
      <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>